<style>
@font-face {
  font-family: 'GT Alpina';
  font-style: italic;
  font-weight: 300;
  src: local('GTAlpina-LightItalic'), local('GT Alpina Light Italic');
  font-display: swap;
}
@font-face {
  font-family: 'GT Alpina';
  font-style: normal;
  font-weight: 400;
  src: local('GTAlpina-Regular'), local('GT Alpina Regular');
  font-display: swap;
}
@font-face {
  font-family: 'GT Standard';
  font-style: normal;
  font-weight: 500;
  src: local('GTStandard-Medium'), local('GT Standard Medium');
  font-display: swap;
}
</style>
<link rel="stylesheet" href="assets/css/site.css">
